@font-face {
    font-family: title-font;
    src: url(../fonts/title-font.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Jost', sans-serif;
    font-weight: 400;

    color: white;
    background-color: black;
}

h3{
    font-size: 28px;
    font-weight: 400;
    margin: 15px 0px;
}

p{
    font-size: 18px;
}

a{
    text-decoration: none;
    color: white;
}

.flex-columna{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home{
    width: 100%;

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-image: url(../img/home-image.jpg);
    background-size: cover;
    background-position: center;
}

.page-header{
    font-family: title-font;
    font-size: 84px;
    font-weight: 400;

    text-shadow: 2px 2px black;

    color:white;
}

.page-subheader{
    font-weight: 400;
    color: white;
    text-shadow: 2px 2px black;

    margin-top: 0;
}
@media screen and (min-width: 960px){

    .logo{
        width: 25vw;
        /* background-color: rgba(0, 0, 0, .5); */
    }
    
    .mobile-page-nav{
        display: none;
    }

    .page-nav{
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);

        width: 100vw;
        height: 90px;

        color: white;

        padding: 30px;

        text-shadow: 2px 2px black;

        transition: padding .5s;
    }

    .page-nav-min{
        /* background-color: rgba(61, 61, 61, 0.1); */
        text-shadow: none;
        padding: 0;
    }

    .page-nav-background{
        width: 100%;
        height: 0;

        position: absolute;
        top: 0;
        left: 0;

        background-color: #c21807;

        /* border-bottom: 2px solid #f55c47; */

        opacity: 0;

        z-index: -100;
        
        transition: .5s;
    }

    .page-nav-background-min{
        height: 100%;
        opacity: 1;
    }

    .menu-text{
        display: none;
    }

    .nav-elements{
        position: absolute;

        top: 50%;
        right: 50%;

        transform: translate(50%, -50%);

        transition: .5s;
    }

    .page-nav-min .nav-elements{
        right: 10%;

        transform: translate(0, -50%);
    }

    .nav-element{
        margin: 20px;
        font-size: 24px;
        font-weight: 500;

        /* text-transform: uppercase; */
        
        transition: .5s;
    }

    .nav-element:hover{
        color: #f55c47;
        cursor: pointer;
    }

    .page-nav-min .nav-element:hover{
        color: black;
    }

    .logo-min{
        font-family: title-font;
        font-size: 42px;

        position: absolute;

        height: 55%;

        left: 10%;
        top: 50%;

        transform: translateY(-200%);

        transition: .5s;
    }

    .page-nav-min .logo-min{
        transform: translate(0, -50%);
    }

    .about-us-content{
        margin: 60px 0;
    }

    
}

.gallery{
    padding: 20px 0;
}

.gallery-image{
    height: 65vh;
    max-width: 80%;

    transition: .5s;
}

.gallery-button{
    width: 20px; height: 20px;

    margin: 20px;

    border-top: 2px solid white;

    cursor: pointer;
}

.gallery-button#previous-image{
    border-left: 2px solid white;

    transform: rotate(-45deg);
}

.gallery-button#next-image{
    border-right: 2px solid white;

    transform: rotate(45deg);
}

.section-title{
    font-family: title-font;
    font-size: 56px;
    font-weight: 400;

    margin-bottom: 30px; margin-top: 30px;

}

section{
    text-align: center;
    width: 100%;
    padding: 20px 13vw;

}

.about-us-text{
    max-width: 30vw;

    font-size: 18px;

    padding-bottom: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-us-image{
    width: 40vw;
    border-radius: 10px;

    /* filter: grayscale(1); */
}

.menu-content{
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.menu img{
    height: 0;
    height: auto;
    width: 100%;
}

.google-map{
    /* margin-right: 100px; */
    width:50vw; height: 30vw;
}

.info{
    min-height: calc(100vh - 80px);
}

.info-content{
    flex-wrap: wrap;
    justify-content: space-between;
}

.info ul{
    margin-left: 20px;

    font-size: 18px;
    text-align: left;
}

.info ul li{
    margin: 3px 0;
}

.contact{
    margin-bottom: 40px;

    text-align: left;
}

.hours{
    text-align: left;
}

.social-media{
    display: flex;
    justify-content: left;
    align-items: center;

    margin-top: 40px;
}

.social-media-icon{
    width: 35px;
    margin-right: 15px;

    transition: .5s;
}

.social-media-icon:hover{
    filter: grayscale(100);
}

.icons-info{
    text-align: center;
}